   body {
    display: grid;
    grid-template-columns: 7.5% 40% 5% 40% 7.5%;
    grid-template-rows: 250px 50px 500px 50px 500px 50px 500px 50px;
    font-family: Mansalva;
    margin: 0;
    background-color: #1b1d3b;
  }

  
  #header {
    padding: 40px;
    text-align: center;
    background: #01042d;
    color: white;
    font-size: 20px;
    grid-column: 1 / span 5;

  }
  
  
/*Containers*/

  #container1{
    grid-column: 2 / span 1 ;
    grid-row: 3 / span 1
  }

  #container2{
    grid-column: 4 / span 1 ;
    grid-row: 3 / span 1
  }

  #container3{
    grid-column: 2 / span 3 ;
    grid-row: 5 / span 1
  }

  #container4{
    grid-column: 2 / span 3 ;
    grid-row: 7 / span 1
  }


/*Interactief*/

  .button{
    border: none;
    background-color: #c900d4;
    padding: 5px;
  }

  .button:hover{
    background-color: #f0008c;
    cursor: pointer;
  }


/* Links */

  a {
    color: #f0008c;
  }
  a:visited {
    color: #6600f4;
  }
  a:hover, a:active, a:focus {
    color:#c900d4
    ;
  }

  

/* Maps */

#map {
  height:80%;
  width:100%;
  border-radius: 25px;
}

#maplibre {
    height:80%;
    width:100%;
    border-radius: 25px;
}

