   body {
    display: grid;
    grid-template-columns: 7.5% 40% 5% 40% 7.5%;
    grid-template-rows: 250px auto 500px 50px auto auto 500px 50px auto auto 500px 100px 200px;
    margin: 0;
    background-color: #282b55;
  }

  #header {
    padding: 40px;
    text-align: center;
    background: #01042d;
    color: white;
    font-size: 20px;
    grid-column: 1 / span 5;

  }
  
  #footer{
    padding: 40px;
    text-align: center;
    background: #01042d;
    color: white;
    font-size: 20px;
    grid-column: 1 / span 5;
    grid-row: 13 / span 1;

  }
  
/*Containers*/

  #container1{
    grid-column: 2 / span 1 ;
    grid-row: 3 / span 1 ;
    text-align: center;
  }

  #container2{
    grid-column: 4 / span 1 ;
    grid-row: 3 / span 1
  }

  #container3{
    grid-column: 4 / span 1;
    grid-row: 7 / span 1
  }

  #container4{
    grid-column: 2 / span 1;
    grid-row: 7 / span 1
  }

  #container5{
    grid-column: 4 / span 1 ;
    grid-row: 11 / span 1
  }

  #container6{
    grid-column: 2 / span 1 ;
    grid-row: 11 / span 1
  }

  #tekstvak1{
    grid-column: 4 / span 1 ;
    grid-row: 5 / span 1 ;
  }

  #tekstvak2{
    grid-column: 2 / span 1 ;
    grid-row: 5 / span 1 ;
  }

  #tekstvak3{
    grid-column: 2 / span 1 ;
    grid-row: 9 / span 1 ;
  }

  #tekstvak4{
    grid-column: 4 / span 1 ;
    grid-row: 9 / span 1 ;
  }

  #titelvak1{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  #titelvak2{
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
  }

  #titelvak3{
    grid-column: 4 / span 1;
    grid-row: 6 / span 1;
  }

  #titelvak4{
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }

  #titelvak5{
    grid-column: 2 / span 1;
    grid-row: 10 / span 1;
  }

  #titelvak6{
    grid-column: 4 / span 1;
    grid-row: 10 / span 1;
  }
/*Interactief*/

  .button{
    border: none;
    background-color: #c900d4;
    padding: 10px;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .button:hover{
    background-color: #f0008c;
    color: white;
    cursor: pointer;
  }


/* Text */

  a {
    color: #f0008c;
  }
  a:visited {
    color: #6600f4;
  }
  a:hover, a:active, a:focus {
    color:#c900d4
    ;
  }

  p {
    color: White;
    font-family: Jost;
    text-align: justify;
  }

  h1{
    font-family: Jost;
  }
 
  #titel{
    font-size: 25px;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
  }

/* Maps */

#map {
  height:80%;
  width:100%;
  border-radius: 25px;
  margin-bottom: 20px;
}

#maplibre {
    height:100%;
    width:100%;
    border-radius: 25px;
}
